@tailwind base;
@tailwind components;
@tailwind utilities;

.ring-muted {
  --tw-ring-opacity: 0 !important;
  --tw-ring-color: transparent !important;
}

.table-row {
  border-bottom: 1px solid #e2e8f0;
}
